<div class="container text-normal">
  <h1 class="header">
    {{title}}
  </h1>
  <hr />
    <div class="content">
        <div class="select-menu">
            <div class="select-menu-item sm-padding"
                 *ngFor="let logger of loggers"
               (click)="selectLogger(logger)">
            {{logger.name}}
          </div>    
        </div>
        <app-temperature class="temperature-container" *ngIf="selectedLogger" [logger]="selectedLogger"></app-temperature>
    </div>


</div>


